@import url('./index.css');


@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    color-scheme: light dark;
}

:lang(en) {
    font-family: 'Roboto', sans-serif;
}

:lang(km) {
    font-family: 'Battambang', system-ui;
}

* {
    @apply  border-gray-200;
}

body {
    @apply text-black bg-gray-50 ;
}